<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}

    <div class="container mt-5">
        <h1>Preview Submission</h1>
        <form action="{{ url_for('process')}}" method="POST" class="mt-4">
            <input type="hidden" id="filename" name="filename" value="{{ filename }}">
            <input type="hidden" id="client_name" name="client_name" value="{{ client_name }}">
            <input type="hidden" id="prompt_id" name="prompt_id" value="{{ prompt_id }}">
            <button type="submit" name="confirm" class="btn btn-success">Confirm and Process</button>
            <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
        </form>
        
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Uploaded Contract</h5>
                <p><strong>PreText:</strong><br/> <pre>{{ contract.pretext }}</pre></p>
                <p><strong>Contract:</strong><br/> <pre>{{ contract.contracts_text }}</pre></p>
                <p><strong>PostText:</strong><br/> <pre>{{ contract.postext }}</pre></p>

            </div>
        </div>

        <form action="{{ url_for('process')}}" method="POST" class="mt-4">
            <input type="hidden" id="filename" name="filename" value="{{ filename }}">
            <input type="hidden" id="client_name" name="client_name" value="{{ client_name }}">
            <input type="hidden" id="prompt_id" name="prompt_id" value="{{ prompt_id }}">
            <button type="submit" name="confirm" class="btn btn-success">Confirm and Process</button>
            <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
        </form>

    </div>
{% endblock %}    
