<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}

    <div class="container mt-5">
        <h1>Preview Submission</h1>
        <div id="loader">Loading...</div>

        <form id="previewForm" action="{{ url_for('result')}}" method="POST" class="mt-4">
            <input type="hidden" id="filename" name="filename" value="{{ filename }}">
            <input type="hidden" id="client_name" name="client_name" value="{{ client_name }}">
            <input type="hidden" id="prompt_id" name="prompt_id" value="{{ prompt_id }}">
            <button type="submit" name="confirm" class="btn btn-success">Confirm and Process</button> &nbsp; &nbsp;
            <button type="submit" name="cancel" class="btn btn-secondary" style="background:gray">Cancel</button>
        
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Uploaded Contract</h5>
                    <p><strong>PreText:</strong><br/> <pre>{{ contract.pretext }}</pre></p>
                    <p><strong>Contract:</strong><br/><pre><textarea id="input_text" name="input_text" cols="100%" rows="100%">{{ contract.contracts_text }}</textarea></pre></p>
                    <p><strong>PostText:</strong><br/> <pre>{{ contract.postext }}</pre></p>

                </div>
            </div>
            <div class="button-container">
                <button type="submit" name="confirm" class="btn btn-success">Confirm and Process</button>
                <div style="width:20px">&nbsp;</div>
                <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
        <script>
            const loader = document.getElementById('loader');
            const form = document.getElementById('previewForm');
        
            // Show loader when the form is submitted
            form.addEventListener('submit', () => {
              loader.style.display = 'block';
            });
        
            // Ensure loader is hidden once the /result page fully loads
            window.addEventListener('load', () => {
              loader.style.display = 'none';
            });
          </script>

    </div>
{% endblock %}    
